/*960px以下で文字色が赤色になる*/
@media screen and (max-width: 960px) {
    .sp{
        display: none !important;
    }
    .main{
        display: none;
    }
    .main2{
        display: block;
    }
    .main-right2{
        display: flex;
    }
    .main-right2{
        margin: 5px 0 0 0 ;
      }
      

      /* ハンバーガー */
/*=============================
.btn-trigger
=============================*/
.btn-trigger {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 40px 20px 0 0;
    display: block;
  }
  .btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 4px;
  }
  .btn-trigger, .btn-trigger span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
  }
  .btn-trigger span:nth-of-type(1) {
    top: 0;
  }
  .btn-trigger span:nth-of-type(2) {
    top: 9px;
  }
  .btn-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  
  /*=============================
  #btn01
  =============================*/
  #btn01.active span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(9px) rotate(-45deg);
  }
  #btn01.active span:nth-of-type(2) {
    opacity: 0;
  }
  #btn01.active span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-9px) rotate(45deg);
  }
  /* 装飾 */
  .nav-top li {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 32px;
  }
  .nav-middle li{
    margin-bottom:32px ;
    font-size: 16px;
    font-weight: 700;
  }
  .nav-top ul, .nav-middle ul{
    padding: 0;
  }
  .nav-top{
    border-bottom: 2px solid #ECECEC;
  }
  .nav-middle{
    padding-top: 32px;
    border-bottom: 2px solid #ECECEC;
  }
  .nav-bottom{
    display: flex;
    justify-content: space-between;
    padding: 32px 20px ;
  }
  .nav-bottom svg{
    margin: 0 !important;
  }
  nav{
    display: block;
  }
  .nav{
    position: relative;
    width:100%;
    box-shadow: 0 -1px !important;
    transition: 0.5s;
  }
  #nav{
    width: 650px;
    height: 100vh;
    position: absolute;
    position: fixed;
    right: -650px;
    top: 96px;
    background-color: white;
    transition: 0.6s;
    padding: 42px 24px 0 24px;
  }
  .fix{
    z-index: 999;
    position: fixed;
    overflow: hidden;
  }
  .show{
    transform: translate3d(-650px,0,0);
  }
  .transparent{
    filter:invert(40%);  
    transition: 0.5s;
  }
  /* メイン */
  .main2{
    display: block;
  }
  .main-right2{
    display: flex;
  }
  .main-right2{
    margin: 5px 0 0 0 ;
  }
  .main-right2 a:hover{
    opacity: 0.9;
  }
  .main-left2 a:hover{
    opacity: 0.9;
  }
  /* 宣伝 */
 
.adv img{
  width: 77px;
  height: 77px;
  margin-right: 16px;
  vertical-align: middle;
  display: inline-block;
}
.advertise{
  flex-direction: column;
  padding:16px;
}
.adv-tex{
  width: auto !important;
}
.adv{
  padding: 0;
}
/* タブ */
.Tabs{
  display: none;
}
.Content {
  display: block;
  margin-top: 5px;
} 
/* divide */
.divide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f1f0ee;
  flex-direction: column;
}
.divide-block{
  width: 100% !important;
}
.space{
  margin-top: 10px;
}
  
  /* footer */
  .footer{
    padding:40px 20px;
  }
  .footer-content{
    display: none;
  }

  /* アコーディオン */
  .AcordionMenu {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
.Menu{
  padding: 0;
  margin: 0;
}

.Menu-Item{
  margin-bottom: 32px;
}
  
  .Menu-Item-Label-1, .Menu-Item-Label-2,.Menu-Item-Label-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    cursor: pointer;
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }
  
  
  .Menu-Item-Label-Icon {
    width: 20px;
  }
  
 .SubMenu{
  padding: 0;
 }
  
  .SubMenu-Item {
    visibility: hidden;
    width: 100%;
   height: 0;
    display: flex;
    align-items: center;
    opacity: 0;

    transition: all 0.2s;
  }
  
  .SubMenu-Item__isActive {
    visibility: visible;
    height: 32px;
    opacity: 1;
    margin: 12px 0;
  }
  
  .SubMenu-Item-Link {
    color: black;
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Noto Sans JP", sans-serif;;
  }
  .SubMenu-Item-Link:hover{
    opacity: 0.9;
    color: black;
  }

  .rotation-1,.rotation-2,.rotation-3{
    /* 1個目の表示で左向きの矢印作成*/
    content: '';
  
    /* 線の書式 */
    border-top: 1px solid black;
    border-left: 1px solid black;
    /* 線の長さ */
    width: 6px;
    height: 6px;
    /* 回転度 */
    transform: rotate(-135deg);
    /* 回転スピード */
    transition:  0.2s;
}
.rotation-1.add,.rotation-2.add,.rotation-3.add{
  /* 2個目の表示で下向きの矢印作成*/
  content: '';
  /* 線の書式 */
  border-top: 1px solid black;
  border-left: 1px solid black;
  /* 線の長さ */
  width: 6px;
  height: 6px;
  /* 回転度 */
  transform: rotate(45deg);
}

  /* フッターのその下 */
  .beneath-content{
    flex-direction: column;
  }
  .privacy ul{
    flex-direction: column;
  }
  .privacy li{
    margin-bottom: 16px;
  }
  .privacy span{
    display: none;
  }
  .sns{
    margin-top: 16px;
  }
    }
  
